{% extends "base.html" %}

{% block page_title %}
    All Movies
{% endblock page_title %}

{% block content %}
<div>

    {% for movie in movies %}
    <div class="movie-container">
        <h2><a href="{{movie.get_absolute_url}}">{{ movie.title | capfirst }}</a></h2>
        
        <p class="movie-info"><strong>Rated:</strong> {{ movie.rated }}</p>
        <p class="movie-info"><strong>Released:</strong> {{ movie.released }}</p>
        <p class="movie-info"><strong>Genre:</strong> {% for genre in movie.genre.all %} {{genre}} {% endfor %}</p>

    </div>
    {% endfor %}
</div>

{% endblock content %}


